.game_app {
  height: 100vh;
  overflow: hidden;
  min-width: 800px;
}

.game_app .game {
  position: relative;
  width: 70000px;
  height: 100%;
  background-image: url("../images/bg/bg_bottom.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.game_app .sky {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg/bg_top.png");
  will-change: transform;
}

@keyframes hero_idle {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -3770px;
  }
}

@keyframes hero_run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1498px;
  }
}

@keyframes hero_ani {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1498px;
  }
}

.hero_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 182px;
  will-change: transform;
}

.hero_box .hero {
  height: 100%;
  background-image: url("../images/ninja/ninja_idle.png");
  background-size: 1498px 182px;
  background-repeat: no-repeat;
  animation: hero_ani 0.7s infinite steps(10);
}

.hero_box .hero.flip {
  transform: rotateY(180deg);
}

.hero_box .hero.run,
.hero_box .hero.run.attack {
  background-image: url("../images/ninja/ninja_run.png");
}

.hero_box .hero.attack {
  background-image: url("../images/ninja/ninja_attack.png");
  animation-iteration-count: 1;
}

.hero_bullet {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 24px;
  background-size: cover;
  background-image: url("../images/hero_bullet.png");
  background-repeat: no-repeat;
  will-change: transform;
}

@keyframes monster_run {
  from {
    background-position: 0px;
  }
  to {
    background-position: -2242px;
  }
}

.monster_box {
  position: absolute;
  left: 700px;
  bottom: 0px;
  width: 280px;
  height: 294px;
  will-change: transform;
}

.monster_box.dead {
  opacity: 0;
  transition: opacity 0.2s;
}

.monster_box .monster {
  height: 100%;
  background-image: url("../images/monster/monster_green_run.png");
  background-size: 2242px;
  background-repeat: no-repeat;
  animation: monster_run 1s infinite steps(8);
}

.monster_box .hp {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 10px;
  border: 1px solid black;
}

.monster_box .hp div {
  background: red;
  height: 100%;
  width: 100%;
  transition: width 0.3s ease-out;
}
